@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Comfortaa:wght@300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Belamor";
  src: url("/src/assets/fonts/Belamor.ttf") format("truetype");
  font-style: normal;
}

/* @font-face {
  font-family: "Monserrat";
  src: url("/src/assets/fonts/Montserrat.ttf") format("truetype");
  font-style: normal;
} */

.bg-primary {
  background-color: #0a0f2d;
}
.bg-secondary {
  background-color: #00ff99;
}
.bg-background {
  background-color: #ffffff;
}
.bg-main {
  background-color: #007bff;
}
.fontColor {
  color: #007bff;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  min-height: 100vh;
  color: #000000;
  background-color: #ffffff;
  /* #d8e5e5; */
}

body.dark {
  background-color: #000000; /* or any dark background */
  color: #ffffff; /* optional */
  font-family: "Montserrat", sans-serif;
}
