@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Belamor";
  src: url("/src/assets/fonts/Belamor.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("/src/assets/fonts/Montserrat.ttf") format("truetype");
  /* font-weight: 200; */
  font-style: normal;
}

.bg-primary {
  background-color: #0a0f2d;
}
.bg-secondary {
  background-color: #00ff99;
}
.bg-background {
  background-color: #ffffff;
}
.bg-main {
  background-color: #007bff;
}
.fontColor {
  color: #007bff;
}

body {
  font-family: Monserrat;
  margin: 0;
  min-height: 100vh;
  color: #000000;
  background-color: #d8e5e5;
}

body.dark {
  background-color: #000000; /* or any dark background */
  color: #ffffff; /* optional */
}
