@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@import url("https://unpkg.com/leaflet/dist/leaflet.css");

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #d8e5e5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
  font-family: "Belamor";
  src: url("/src/assets/fonts/Belamor.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url("/src/assets/fonts/Montserrat.ttf") format("truetype");
  /* font-weight: 200; */
  font-style: normal;
}

.bg-primary {
  background-color: #0a0f2d;
}
.bg-secondary {
  background-color: #00ff99;
}
.bg-background {
  background-color: #ffffff;
}
.bg-main {
  background-color: #007bff;
}
.fontColor {
  color: #007bff;
}

body {
  font-family: Monserrat;
  margin: 0;
  min-height: 100vh;
  background-color: #d8e5e5;
}
